@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hero-title {
  display: inline-block;
}
.hero-title h1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  margin-right: 0.5rem;
  border-right: 3px solid white;
  animation: typing 2s steps(30, end) forwards, blinking 1.5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
  100% {
    border-right-color: transparent;
  }
}

.title {
  --color-shadow-letter: #582c82;
  text-shadow: 7.25px 0.25px 0 var(--color-shadow-letter),
    0.5px 0.5px 0 var(--color-shadow-letter),
    0.75px 0.75px 0 var(--color-shadow-letter),
    1px 1px 0 var(--color-shadow-letter),
    1.25px 1.25px 0 var(--color-shadow-letter),
    1.5px 1.5px 0 var(--color-shadow-letter),
    1.75px 1.75px 0 var(--color-shadow-letter),
    2px 2px 0 var(--color-shadow-letter),
    2.25px 2.25px 0 var(--color-shadow-letter),
    2.5px 2.5px 0 var(--color-shadow-letter),
    2.75px 2.75px 0 var(--color-shadow-letter),
    3px 3px 0 var(--color-shadow-letter),
    3.25px 3.25px 0 var(--color-shadow-letter),
    3.5px 3.5px 0 var(--color-shadow-letter),
    3.75px 3.75px 0 var(--color-shadow-letter),
    4px 4px 0 var(--color-shadow-letter),
    5.25px 5.25px 0 var(--color-shadow-letter),
    5.5px 5.5px 0 var(--color-shadow-letter),
    5.75px 5.75px 0 var(--color-shadow-letter),
    6px 6px 0 var(--color-shadow-letter);
}
